.title {
    color: #BD4800;
    font-size: 15px;
}

.position {
    color: red
}

.gambarlembaga {
    display: flex;
}

.img {
    margin-right: 10px; /* Mengatur margin antara gambar */
  }

.gambarr {
    width: 2rem;
    height: 2rem;
  }

.gambarorang {
    width: 5rem;
    height: 5rem;
}